<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ORDENES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [debounce]="1000" [(ngModel)]="searchText"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-col>
        NUMERO DE ORDEN
      </ion-col>
      <ion-col>
        NOMBRE DEL PACIENTE
      </ion-col>
    </ion-list-header>
    <ion-item *ngFor="let orden of ordens | filter:searchText">
      <ion-col>
        {{ $any(orden).numRef }}
      </ion-col>
      <ion-col>
        {{ $any(orden).paciente.NOMBRE | uppercase }}
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>