<app-header title="paciente"></app-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="this.createOrder()">
    <ion-item>
      <ion-button color="success" type="submit" [disabled]="!this.form.valid">Generar Orden</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input type="text" formControlName="nombre" name="name" oninput="this.value = this.value.toUpperCase()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="number" formControlName="telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de Documento</ion-label>
      <ion-select formControlName="tipoId" name="tipoId">
        <ion-select-option value="CC">Cedula de Ciudadania</ion-select-option>
        <ion-select-option value="TI">Tarjeta de Identidad</ion-select-option>
        <ion-select-option value="PE">Pasaporte Extranjero</ion-select-option>
        <ion-select-option value="RC">Registro Civil</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero de Documento</ion-label>
      <ion-input type="text" formControlName="numero" name="numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email" formControlName="correo" name="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" formControlName="direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Genero</ion-label>
      <ion-select formControlName="genero">
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="F">Femenino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-input type="date" formControlName="fechaNam" #fecha (change)="calculateAge(fecha.value)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-label>{{this.age}}</ion-label>
    </ion-item>
  </form>
</ion-content>