<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" size-xs="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header  class="p-card-header-warning">
          <ion-icon name="bookmarks"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>Ordenes Pendientes</ion-card-subtitle>
          <ion-card-title>{{pendiente}}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-xs="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header class="p-card-header-success">
          <ion-icon name="bookmarks"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>Ordenes Totales</ion-card-subtitle>
          <ion-card-title>{{ordens.length}}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-xs="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header class="p-card-header-danger">
          <ion-icon name="bookmarks"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>Ordenes Canceladas</ion-card-subtitle>
          <ion-card-title>{{canceladas}}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-xs="12" size-md="4" size-lg="4">
      <ion-card id="new">
        <ion-card-header class="p-card-header-success">
          <ion-card-title>NUEVA ORDEN</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button size="large" color="light">
            <ion-icon name="add-circle-outline" color="success"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col *ngFor="let item of ordens" size="12" size-xs="12" size-md="4" size-lg="4">
      <ion-card>
        <ion-card-header [ngClass]="{'p-card-header-warning': item.estado === 'pendiente',
        'p-card-header-success': item.estado === 'completado'
        }">
          <ion-card-title>{{item.numRef}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>
              Estado
            </ion-label>
            <ion-text *ngIf="item.estado === 'completado'" class="customer-badge status-qualified">
              {{ item.estado | uppercase }}
            </ion-text>
            <ion-text *ngIf="item.estado === 'pendiente'" class="customer-badge status-proposal">
              {{ item.estado | uppercase }}
            </ion-text>
            <ion-text *ngIf="item.estado === 'cancelado'" class="customer-badge status-unqualified">
              {{ item.estado | uppercase }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label>
              Fecha de Creación
            </ion-label>
            <ion-text>
              <p>{{this.item.fechaCrea}}</p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label>
              Nombre del Paciente
            </ion-label>
            <ion-text>
              <p>{{item.paciente.NOMBRE| uppercase}}</p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label>
              Nombre del Medico
            </ion-label>
            <ion-text>
              <p>{{item.doctor.nombre| uppercase}}</p>
            </ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>