.pendient {
  background-color: #e3f115ef;
}
ion-card-header ion-card-title {
  color: #000;
  font-weight: bold;
}

ion-col ion-button {
  
  font-size: 5em;
}

ion-button ion-icon {
}

.total {
  background-color: #249729;
}


.cancel {
  background-color: #ff2020e8;
}

ion-card {
  text-align: right;
}

ion-content {
  display: block;
}