<app-header title="ordenes"></app-header>

<ion-content>
  <ion-searchbar [debounce]="1000" [(ngModel)]="searchText"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-col>
        NUMERO DE ORDEN
      </ion-col>
      <ion-col>
        NOMBRE DEL PACIENTE
      </ion-col>
    </ion-list-header>
    <ion-item-sliding *ngFor="let orden of ordens | filter:searchText" >
      <ion-item >
        <ion-label class="customer-badge" [ngClass]="{'status-proposal': orden.estado === 'pendiente',
        'status-qualified' : orden.estado === 'completado'}">
          {{ $any(orden).numRef }}

        </ion-label>
        <ion-label class="customer-badge" [ngClass]="{'status-proposal': orden.estado === 'pendiente',
        'status-qualified' : orden.estado === 'completado'}">
          {{ $any(orden).paciente.NOMBRE | uppercase }}
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option *ngIf="orden.estado === 'pendiente'" color="warning" routerLink="/user/cart/{{orden.id}}">
          <ion-icon name="pencil" ></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="orden.estado === 'pendiente'" color="danger" (click)="this.deleteOrden(orden.id)">
          <ion-icon name="trash" ></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="this.getOrderDetail(orden)">
          <ion-icon name="eye"></ion-icon>
        </ion-item-option>
        
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>